<div class="">
  <h1>Upload Video</h1>
  <div *ngIf="file == null" class="dropzone" droppingkimak (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

       <h3>Drop File</h3>
       <p>{{ dropmsg }}</p>

  </div>

  <div *ngIf="file != null" class="editzone">
    <div class="con">
      <div class="">
        <h3>Details</h3>
        <input placeholder="Title" type="text" name="" (input)="vidTitle = $event.target.value">
        <!-- <h3>Description</h3> -->
        <textarea placeholder="Description" name="name" (input)="vidDesc = $event.target.value"></textarea>
        <h3>Thumbnail</h3>
        <input (change)="uploadThumbnail($event.target.files)" type="file" name="" value="">
        <h3>Category</h3>
        <select id="categorySelect" name="" (change)="getCategory()">
          <option value="Gaming">Gaming</option>
          <option value="Music">Music</option>
          <option value="Sport">Sport</option>
          <option value="Entertainment">Entertainment</option>
          <option value="News">News</option>
          <option value="Travel">Travel</option>
        </select>
        <h3>Audience</h3>
        <div class="ageRadioBtn" >
          <input type="radio" checked="true" id="allage" name="restriction" value="" (change)="ageRestriction = 'all'">
          <label for="allage">All age</label>
        </div>
        <div class="ageRadioBtn">
          <input type="radio" id="adult" name="restriction" value="" (change)="ageRestriction = 'adult'">
          <label for="adult">Adult</label>
        </div>
        <h3>Select Playlist</h3>
        <select class="playlistSelect" name="" (change)="playlist = $event.target.value">
          <option >None</option>
          <option *ngFor="let pl of playlists;" [value]="pl.id">{{pl.title}}</option>
        </select>
        <p style="font-size: 11t; color: gray;">or</p>
        <h3>Create New Playlist</h3>
        <input type="text" name="" value="" placeholder="Name" (input)="playlistTitle = $event.target.value">
        <textarea type="text" name="" value="" placeholder="Description" (input)="playlistDesc = $event.target.value"></textarea>
        <h3>Privacy</h3>
        <div class="ageRadioBtn">
          <input type="radio" id="privacy" name="plvisibility" value="private" (change)="isPlaylistPrivate = 'private'">
          <label for="private">Private</label>
        </div>
        <div class="ageRadioBtn">
          <input type="radio" checked="true" id="privacy" name="plvisibility" value="public" (change)="isPlaylistPrivate = 'public'">
          <label for="public">Public</label>
        </div>
        <button type="button" class="newBtn" name="button" (click)="createPlaylist()">New Playlist</button>
        <h3>Privacy</h3>
        <div class="ageRadioBtn">
          <input type="radio" id="privacy" name="visibility" value="private" (change)="isPrivate = 'private'">
          <label for="private">Private</label>
        </div>
        <div class="ageRadioBtn">
          <input type="radio" checked="true" id="privacy" name="visibility" value="public" (change)="isPrivate = 'public'">
          <label for="public">Public</label>
        </div>
        <h3>Membership</h3>
        <div class="ageRadioBtn">
          <input type="checkbox" id="premium" name="premium" value="">
          <label for="premium">Premium Only</label>
        </div>
        <h3>Scheduled Upload</h3>
        <div class="ageRadioBtn">
          <input type="checkbox" id="schedule" name="schedule" value="schedule" (change)="scheduled()" >
          <label for="schedule">Enable scheduled upload</label>
        </div>
        <div class="uploadSchedule" *ngIf="isScheduled">
          Test
        </div>
      </div>
      <div class="">
        <div class="vidInfo">
          <img class="thumbnail" src="{{thmsrc}}" alt="">
          <p> <b> {{ file.name }} </b> </p>
          <p> Duration : {{ file.duration }}</p>
        </div>
        <button (click)="startUpload(file)" class="uploadBtn" type="button" name="button">UPLOAD</button>
        <!-- <p>{{ downloadURL }}</p> -->

      </div>

    </div>

    <div *ngIf="percentage | async as pct">

      <progress [value]="pct" max="100" >0%</progress>

    </div>

  </div>

  <!-- <div *ngIf="!percentage" class="">
    <progress value="0" max="100">0%</progress>
  </div> -->



  <!-- <div *ngIf="(snapshot | async) as snap">
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize}}

  </div> -->
</div>


<!-- <h3>Uploads</h3>

<div *ngFor="let file of files">
  <img [src]="url" alt="">
</div> -->

<!-- <button type="button" (click)="task.pause()" [disabled]="!isActive(snap)" name="button">Pause</button>

<button type="button" (click)="task.cancel()" [disabled]="!isActive(snap)" name="button">Pause</button>

<button type="button" (click)="task.resume()" [disabled]="!snap?.state === 'paused'">Resume</button> -->
