*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  text-decoration: none;
}

.content {
  margin: 30px;
  margin-top: 80px;
  margin-right: 45px;
}

.container {
  * {
    margin: 5px;
  }

  .channelOverview {
    flex-direction: column;
    justify-content: space-between;

    .channelName {
      margin-left: 0;
      flex-direction: column;
    }

    .channelStats {
      // color: gray;
      flex-direction: column;
      align-items: center;

      .bar {
        display: flex;
        width: 100%;
        min-height: 1.5px;
        *{
          margin: 0;
        }

        .like {
          width: 50%;
          min-height: 1.5px;
          background-color: gray;
        }
        .disilike {
          width: 50%;
          min-height: 1.5px;
          background-color: lightgray;
        }
      }

      .stats {
        align-items: center;
        flex-direction: column;
      }

      svg {
        margin: 0 10px;
        // color: gray;
      }
    }
  }

  .channelInfo {
    img {
      border-radius: 50px;
      width: 50px;
      height: 50px;
    }

    div{
      width: 100%;
      flex-direction: column;
      margin: 0;

      .channelDetail {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        // align-items: flex-end;

        .subButton {
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 35px;
          // background-color: #d00000;
          // font-weight: bold;
          // color: white;
        }
      }
    }
  }

  hr {
    border: 0.25px solid transparent;
    background-color: lightgray;
    height: 0.5px;
  }

  margin: 0 40px;

  .videoContainer {
    flex-direction: column;
    .vid{
      height: 33vw;
      width: 60vw;
    }
  }

  .recContainer {
    display: flex;
    flex-direction: column;

    width: 700px;

    img {
      width: 200px;
      height: 120px;
    }

    .vidInfo {
      flex-direction: column;

      *{
        margin: 0;
      }
    }
  }

  .newCommentWrapper {
    flex-direction: column;
    width: 100%;
    margin-left: 0;

    .inputNewComment {
      width: 100%;
      margin-left: 0;
      .userPic {
        border-radius: 50px;
        width: 45px;
        height: 45px;
      }

      .newCommentSection{
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgray;

        padding: 5px;

        &:focus {
          outline: 0;
        }
      }
    }

    .inputControl {
      width: 100%;
      justify-content: flex-end;

      .newCommentBtn {
        justify-content: center;
        align-items: center;
        border: none;
        font-weight: bold;
        color: white;

        background-color: #0aaae6;
        width: 100px;
        height: 30px;

        &:disabled {
          background-color: lightgray;
        }

        &:active {
          background-color: #1176bf;
        }
      }


    }
  }
}
