<div class="content">
  <div class="container">
    <div class="videoContainer" *ngIf="targetVideo">
      <div class="vid">
        <mat-video id="matVid" [src]="targetVideo.url" autoplay="true" [keyboard]="false" (mouseenter)="onKey = true" (mouseleave)="onKey = false"></mat-video>
      </div>
      <div class="channelOverview">
        <div class="" style="justify-content: space-between;">
          <div class="channelName">
            <h1>{{targetVideo.title}}</h1>
            <p style="color: gray; margin-bottom: 20px;">{{targetVideo.view}} views - {{targetVideo.day}} {{getMonthName(targetVideo
            .month)}} {{targetVideo.year}}</p>
          </div>
          <div class="channelStats">
            <div class="stats">
              <div class="">
                <div class="" style="margin: 0; align-items:center;" (click)="toggleLike(false)" [style.color]="isLiked ? '#0070c2' : 'gray'">
                  <p>{{getViewCount(targetVideo.like)}}</p> <i class="fa fa-thumbs-up" style="margin-bottom: 4px"></i>
                </div>
                <div class="" style="margin: 0; align-items:center;" (click)="toggleDisilike(false)" [style.color]="isDisiliked ? '#0070c2' : 'gray'">
                  <p>{{getViewCount(targetVideo.disilike)}}</p> <i class="fa fa-thumbs-down" style="margin-bottom: 0;"></i>
                </div>
                <div class="" style="margin: 0; align-items:center; color: gray;" (click)="toggleShareModal()" *ngIf="targetVideo.visibility == 'public'">
                  <i class="fa fa-share" style="margin-bottom: 0;"></i>
                </div>
                <div class="" style="margin: 0; align-items:center; color: gray;" *ngIf="premi == 'yes'">
                  <a [href]="targetVideo.url" download><i class="fa fa-file-download" style="margin-bottom: 0;"></i></a>
                </div>
                <div class="" style="margin: 0; align-items:center; color: gray;">
                  <i class="fa fa-outdent" style="margin-bottom: 0;"></i>
                </div>
                <div class="" style="margin: 0; align-items:center;" [style.color]="autoplay ? '#00a4e8' : 'gray'" (click)="autoplay = !autoplay">
                  <i class="fa fa-play"></i>AUTOPLAY
                </div>
              </div>
              <div class="bar">
                <div class="like" [style.width]="targetVideo.like == 0 && targetVideo.disilike == 0 ? '50%' : getPercentage(targetVideo.like, targetVideo.disilike + targetVideo.like)"></div>
                <div class="disilike" [style.width]="targetVideo.like == 0 && targetVideo.disilike == 0 ? '50%' : getPercentage(targetVideo.disilike, targetVideo.disilike + targetVideo.like)"></div>
              </div>
          </div>
        </div>
        </div>
      <hr>
      <div class="channelInfo" *ngIf="channel">
        <img [src]="channel.profilepic" alt="">
        <div class="">
          <div class="channelDetail">
            <div class="">
              <p style="font-size: 14pt; margin-bottom: 0;">{{channel.name}}</p>
              <p style="font-size: 9pt; color: #626262; margin-top: 0;">{{getViewCount(channel.subscribers)}} Subscribers</p>
            </div>
            <div class="subButton" *ngIf="curUserId != targetVideo.userid" (click)="toggleSubs()" [style.background-color]="isSubscribed ? 'lightgray' : '#d00000'" [style.color]="isSubscribed ? 'gray' : 'white'">
              {{ isSubscribed ? 'SUBSCRIBED' : 'SUBSCRIBE'}}
            </div>
            <div class="bellButton" *ngIf="curUserId != channel.id && isSubscribed" (click)="onNotification()" [style.color]="isBelled ? '#168ed9' : 'lightgray'">
              <i class="fa fa-bell"></i>
            </div>
          </div>
          <p>{{targetVideo.desc}}</p>
        </div>
      </div>
      <hr>
      <div class="commentContainer" *ngIf="comments" style="flex-direction: column;">
        <div class="" style="flex-direction: row; align-items: center; justify-content:space-between;">
          <p>{{comments.length}} Comments</p>
          <div class="" style="flex-direction: row; align-items: center;">
            <button style="border: none; border-radius: 2px;" type="button" name="button" (click)="toggleSort()"><i class="fa fa-filter"></i></button> {{sortBy == "" ? 'Newest' : 'Top Comments'}}
          </div>
        </div>
        <div class="newCommentWrapper" *ngIf="user">
          <div class="inputNewComment">
            <img class="userPic" [src]="currentUserInfo.profilepic" alt="">
            <input type="text" class="newCommentSection" placeholder="Comment" name="" value="" (input)="newCommentDesc = $event.target.value">
          </div>
          <div class="inputControl">
            <button type="button" class="newCommentBtn" (click)="addNewCommentBtn(newCommentDesc)" [disabled]="newCommentDesc ? false : true" name="button">COMMENT</button>
          </div>
        </div>
        <div class="" *ngFor="let comment of comments; let j = index">
          <app-comment-block [comment]="comment.id" *ngIf="j < lastComment" style="width: 100%"></app-comment-block>
        </div>
      </div>
    </div>
  </div>
  <div class="recContainer" *ngIf="targetVideo">
    <div class="playlistContainer" *ngIf="plid">
      <div class="playlistVids" *ngFor="let video of videosInPl">
        <app-video-block [typeView]=2 [video]="video" [width]=150 [height]=85 [fromPlaylist]=plid></app-video-block>
      </div>
    </div>
    <div class="" *ngFor="let video of videos; let i =index">
      <app-video-block class="relatedVids" [typeView]=2 [width]=160 [height]=90 *ngIf="i < lastKey" [video]="video"></app-video-block>
    </div>
  </div>
  </div>

</div>
<div class="footer">
<p> </p>
</div>
