<div class="contentWrapper">
  <div class="aboutHeader">
    <img src="./assets/Logo.png" alt="">
    <p>We believe that everyone <b>deserves to have a voice</b>, and that the world is a better place when we <b>listen, share and build</b> community through our stories.</p>
  </div>
  <p>Our values are based on four essential freedoms that define who we are.</p>
  <h2>Freedom of Expression</h2>
  <p>We believe people should be able to speak freely, share opinions, foster open dialogue, and that creative freedom leads to new voices, formats and possibilities.</p>
  <h2>Freedom of Information</h2>
  <p>We believe everyone should have easy, open access to information and that video is a powerful force for education, building understanding, and documenting world events, big and small.</p>
  <h2>Freedom of opportunity</h2>
  <p>We believe everyone should have a chance to be discovered, build a business and succeed on their own terms, and that people—not gatekeepers—decide what’s popular.</p>
  <h2>Freedom to Belong</h2>
  <p>We believe everyone should be able to find communities of support, break down barriers, transcend borders and come together around shared interests and passions.</p>


</div>
