<!--
<div class="outerContent" (click)="toggleDropDown()"></div> -->

<div class="mainBar">
  <div class="">
    <button (click)="showMenu()" type="button" name="button" class="iconButton"><i class="fa fa-bars"></i></button>
    <img src="../assets/Logo.png" (click)="changePage('')" class="imLogo">
  </div>
  <div class="searchBar">
    <div class="" style="flex-direction: column">
        <input type="text" name="" placeholder="Search" class="searchInput" [value]="searchBarValue" (input)="searchBarValue = $event.target.value; autoCompleteFill(searchBarValue)">
        <div class="autocompleteBox" *ngIf="autocompletes.length > 0 && searchBarValue != '' && checkFocus()">
          <div class="autoItems" *ngFor="let result of autocompletes" (click)="searchBarValue = result">
            <p>{{result}}</p>
          </div>
        </div>
    </div>
    <button type="button" name="button" class="searchButton" (click)="search()"><i class="fa fa-search"></i></button>
  </div>

  <div>
    <div class="dropDownSettings" [style.display]="settingsVisible ? 'block' : 'none'" [style.right]="user ? '80px' : '205px'">
      <ul>
        <div class="titleSettings">
          Settings
        </div>
        <div *ngIf="channelUserInfo" class="profileInfo">
          <img class="profilePic" src="{{channelUserInfo.profilepic}}" alt="">
          <p>{{channelUserInfo.name}}</p>
        </div>
        <div (click)="toggleLogout()" *ngIf="user" class=""><i class="fa fa-user fa3x"></i>Switch Account</div>
        <a style="padding:0; margin:0" href="membership"><div *ngIf="user" class=""><i class="fa fa-star fa3x"></i>Membership</div></a>
        <a *ngIf="user" style="padding:0; margin:0" href="channel/{{user.id}}/home"><div  class=""><i class="fa fa-caret-square-right fa3x"></i>Your Channel</div></a>
        <div (click)="toggleRestrictionButton()"><i class="fa fa-lock fa-3x"></i>Restricted Mode : {{onRestriction ? 'ON' : 'OFF'}}</div>
        <div (click)="toggleLocationButton()"><i class="fa fa-map-marker-alt fa-3x"></i>Enable Location : {{onLocation ? 'ON' : 'OFF'}}</div>
        <div (click)="toggleKeyboardModal()"><i class="fa fa-keyboard fa-3x"></i>Keyboard Shortcuts</div>
      </ul>
    </div>
    <button *ngIf="user" (click)="showSettings()" type="button" name="button" class="iconButton"><i class="fa fa-bell"></i></button>
    <button *ngIf="!user" (click)="showSettings()" type="button" name="button" class="iconButton"><i class="fa fa-cog"></i></button>
    <button *ngIf="user" (click)="changePage('upload')" type="button" name="button" class="iconButton"><i class="fa fa-caret-square-up"></i></button>
    <button (click)="toggleModal()" type="button" name="button" class="loginButton"  *ngIf="!user"><p><i class="fa fa-user-circle"></i>Login</p></button>
    <img *ngIf="channelUserInfo" (click)="showSettings()" class="userProfile" src="{{ channelUserInfo.profilepic }}" alt="nul">
    <!-- <img src="https://lh3.googleusercontent.com/a-/AOh14GgOTm0GoQxXZMPyA4lNtPYH-TBdkMh5ML8d1u94lg=s96-c" alt=""> -->
  </div>
</div>
<div class="sideBar" [style.left]="menuVisible ? '0px' : '-250px'">
    <div class="sideBarItems"> </div>
    <div class="sideBarItems" (click)="changePage('')"><i class="fa fa-home"></i>Home</div>
    <div class="sideBarItems" (click)="changePage('trending')"><i class="fa fa-fire"></i>Trending</div>
    <div class="sideBarItems" (click)="changePage('subscription')"><i class="fa fa-play-circle"></i>Subscription</div>
    <div class="lineBreak">
    </div>
    <div class="userPlaylist" *ngIf="user && playlists">
      <div *ngFor="let playlist of playlists"><a href="playlist/{{playlist.id}}"><div class="sideBarItems">
        <i class="fa fa-list"></i>{{playlist.title}}
      </div></a></div>

      <div class="userPlaylist" *ngIf="restPlaylist.length != 0 && openPlaylist == true">
        <div *ngFor="let pl of restPlaylist"><a href="playlist/{{pl.id}}"><div class="sideBarItems">
          <i class="fa fa-list"></i>{{pl.title}}
        </div></a></div>
      </div>
      <div class="sideBarItems" *ngIf="restPlaylist.length != 0 && openPlaylist != true" (click)="togglePlaylist()"><i class="fa fa-chevron-down"></i>Show More</div>
      <div class="sideBarItems" *ngIf="restPlaylist.length != 0 && openPlaylist == true" (click)="togglePlaylist()"><i class="fa fa-chevron-up"></i>Show Less</div>
    </div>
    <!-- <div class="lineBreak">

    </div> -->
    <p class="subtitle" *ngIf="user"><b>SUBSCRIPTIONS</b></p>
    <div class="" *ngIf="user" style="flex-direction: column; justify-content: flex-start;">
      <app-subscription-block class="sideBarItems" style="padding: 15px 25px" *ngFor="let channel of subbedChannel" [channel]="channel"></app-subscription-block>

    </div>
    <div class="" *ngIf="restsubbedChannel.length != 0 && openSubs == true" style="flex-direction: column; justify-content: flex-start;">
      <app-subscription-block class="sideBarItems" style="padding: 15px 25px" *ngFor="let channel of restsubbedChannel" [channel]="channel"></app-subscription-block>
    </div>
    <div class="sideBarItems" *ngIf="restsubbedChannel.length != 0 && openSubs != true" (click)="toggleRestSubs()"><i class="fa fa-chevron-down"></i>Show More</div>
    <div class="sideBarItems" *ngIf="restsubbedChannel.length != 0 && openSubs == true" (click)="toggleRestSubs()"><i class="fa fa-chevron-up"></i>Show Less</div>
    <p class="subtitle"><b>CATEGORIES</b></p>
    <div class="sideBarItems" (click)="changePage('music')"><i class="fa fa-music"></i>Music</div>
    <div class="sideBarItems" (click)="changePage('gaming')"><i class="fa fa-gamepad"></i>Gaming</div>
    <div class="sideBarItems" (click)="changePage('sport')"><i class="fa fa-dumbbell"></i>Sport</div>
    <div class="sideBarItems" (click)="changePage('entertainment')"><i class="fa fa-magic"></i>Entertainment</div>
    <div class="sideBarItems" (click)="changePage('news')"><i class="fa fa-newspaper"></i>News</div>
    <div class="sideBarItems" (click)="changePage('travel')"><i class="fa fa-map-marked-alt"></i>Travel</div>
    <div class="lineBreak">
      <!-- &nbsp; -->
    </div>
    <div class="sideBarItems" (click)="changePage('membership')"><i class="fa fa-star"></i>Membership</div>
    <div class="sideBarItems" (click)="changePage('about')"><i class="fa fa-info-circle"></i>About Us</div>
    <div class="sideBarItems" (click)="changePage('terms')"><i class="fa fa-asterisk"></i>Terms</div>
    <div class="sideBarItems" (click)="changePage('copyright')"><i class="fa fa-copyright"></i>Copyright</div>
    <div class="sideBarItems" (click)="changePage('advertise')"><i class="fa fa-ad"></i>Advertise</div>

</div>

<app-modal
    [show]="showLogin"
    [closeCallback]="toggleModal"
  >
  <div class="contentWrapper" [style.max-height]="'750px'">
    <h3>Login</h3>
    <div class="loginForms">
      <input type="text" placeholder="Username" name="" value="">
      <input type="password" placeholder="Password" name="" value="">
    </div>

    <button class="loginBut" type="button" name="button">Sign In</button>

    <br>
    <hr style="display: inline; height: 1px; width: 100%; border: none; background-color: #d2d2d2">
    <br>

    <div class="accordionReg">
      <h3>Login with Google</h3>
      <button class="googleBut" type="button" name="button" (click)="signInWithGoogle()"><i class="fab fa-google"></i>Sign In with Google</button>
    </div>
    <br>
  </div>
</app-modal>

<app-modal
    [show]="showLogout"
    [closeCallback]="toggleLogout"
  >
  <div class="contentWrapper" [style.max-height]="'750px'">
    <h3>Do you want to sign out ?</h3>

    <div class="" style="flex-direction: column; width: 100%">
      <button class="loginBut" style="height: 50px; width: 155px;" type="button" name="button" (click)="signOut()">Sign Out</button>

      <!-- <br> -->

      <div class="accordionReg">
        <!-- <h3>Login with Google</h3> -->
        <button class="googleBut" style="height: 50px; width: 155px;" type="button" name="button" (click)="switchAcc()"><i class="fab fa-google"></i>Switch account</button>
      </div>
      <br>
    </div>
  </div>
</app-modal>

<app-modal
  [show]="showKeyboard"
  [closeCallback]="toggleKeyboardModal"
  [modalWidth]=700
  >
  <div class="keyboardComponentWrapper">
    <h3>Keyboard Shortcuts</h3>
    <div class="shortcutsWrapper">
      <div style="color: #7d7d7d;">
        <div>Rewind 10 seconds</div>
        <div>Play or pause video</div>
        <div>Fast forward 10 seconds</div>
        <div>Toggle fullscreen mode</div>
        <div>Higher the video volume</div>
        <div>Lower the video volume</div>
      </div>
      <div>
        <div>J</div>
        <div>K</div>
        <div>L</div>
        <div>F</div>
        <div>↑ ( UP ARROW KEY )</div>
        <div>↓  ( BOTTOM ARROW KEY )</div>
      </div>
    </div>
  </div>
</app-modal>
