<div class="contentWrapper">
  <h1>Copyright</h1>
  <h2>Overview</h2>
  <h3>The first rule of copyright</h3>
  <p>Creators should only upload videos that they have made or that they're authorized to use. That means they should not upload videos they didn't make, or use content in their videos that someone else owns the copyright to, such as music tracks, snippets of copyrighted programs, or videos made by other users, without necessary authorizations.</p>
  <h2>Fair Use</h2>
  <h3>What is fair use?</h3>
  <p>Fair Use is a U.S. law that allows the reuse of copyright-protected material under certain circumstances without getting permission from the copyright owner. However, Fair Use is determined on a case by case basis, and different countries have different rules about when it’s okay to use material without the copyright owner’s permission. In the U.S., works of commentary, criticism, research, teaching, or news reporting might be considered fair use, but it can depend on the situation.</p>
  <h2>Making Claims</h2>
  <h3>How can right holders make copyright claims?</h3>
  <p>Everyone has access to FesTube’s Copyright Management Tools, which gives rights holders control of their copyrighted material on FesTube. We work with rights holders to match them to appropriate features based on the scale of their copyrighted content on FesTube, and the resources they’ve dedicated to responsibly manage their content online. Our Copyright Management Suite provides a number of ways rights holders can make copyright claims.</p>
  <h2>Enforcing Copyright</h2>
  <h3>What action does FesTube take for copyright infringement?</h3>
  <p>If a copyright owner submits a valid DMCA complaint through our webform, we take down that video and apply a copyright strike. If a user gets three copyright strikes in 90 days, their account, along with any associated channels, will be terminated. We also have tools to help Creators resolve their copyright strikes - including waiting for it to expire after 90 days, requesting a retraction, or submitting a counter notification.</p>
  <p>Content ID works differently. If a match between a reference file and a new upload is made, a “claim” is made. Based on the preference selected by the Content ID owner, we’ll apply a policy to track, monetize, or block, but will not issue a copyright strike.</p>
</div>
