.vidComp {
  display: flex;

  margin-bottom: 20px;

  .dura {
    background-color: black;
    opacity: 85%;
    color: white;
    // font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 1px;
    height: 15px;
    width: 33px;
    font-size: 8pt;
    bottom: 18px;
    *{
      margin: 0;
    }
  }

  .thumbnailView {
    // width: 40%;
    img {
      width: 300px;
      height: 170px;
    }
  }


  .thumbnailInfo {
    // width: 60%;
    img {
      border-radius: 50px;
      width: 35px;
      height: 35px;
    }

    p{
      margin: 0 10px;
    }
    display: flex;
    flex-direction: row;
  }

}

a {
  width: 100%;
  text-decoration: none;
  color: black;
}
