<div class="content" *ngIf="channelUserInfo">
  <div class="thumbContainer">
    <img class="thumbnail" [src]="channelUserInfo.channelart" alt="">
  </div>

  <div class="channelnav">
    <div class="navcontent">
      <img class="channelpic" [src]="channelUserInfo.profilepic" alt="">
      <div class="" style="flex-direction: column;">
        <p>{{channelUserInfo.name}}</p>
        <p style="color: gray; font-size: 10pt;">{{getViewCount(channelUserInfo.subscribers)}} subscribers</p>
      </div>
    </div>
    <div class="navcontent">
      <div class="subButton" *ngIf="curUserId != channelUserInfo.id" [style.background-color]="isSubscribed ? 'lightgray' : '#d70000'" [style.color]="isSubscribed? 'gray' : 'white'" (click)="toggleSubs()">
        {{isSubscribed ? 'SUBSCRIBED' : 'SUBSCRIBE'}}
      </div>
      <div class="subButton" (click)="toggleModal()" *ngIf="channelUserInfo.id == curUserId" style="background-color: #0080d9; width: 130px">
        EDIT PROFILE
      </div>
    </div>
  </div>
  <div class="navcontainer">
    <div class="navitem" (click)="changePage('home')" [style.border-bottom]="onPage == 'home'? '3px solid #2e2e2e' : '3px solid transparent'">
      <p>HOME</p>
    </div>
    <div class="navitem" (click)="changePage('videos')" [style.border-bottom]="onPage == 'videos'? '3px solid #2e2e2e' : '3px solid transparent'">
      <p>VIDEOS</p>
    </div>
    <div class="navitem" (click)="changePage('playlist')" [style.border-bottom]="onPage == 'playlist'? '3px solid #2e2e2e' : '3px solid transparent'">
      <p>PLAYLIST</p>
    </div>
    <div class="navitem" (click)="changePage('community')" [style.border-bottom]="onPage == 'community'? '3px solid #2e2e2e' : '3px solid transparent'">
      <p>COMMUNITY</p>
    </div>
    <div class="navitem" (click)="changePage('about')" [style.border-bottom]="onPage == 'about'? '3px solid #2e2e2e' : '3px solid transparent'">
      <p>ABOUT</p>
    </div>
  </div>
  <div class="channelContent">
    <router-outlet></router-outlet>
  </div>
</div>

<app-modal *ngIf="channelUserInfo"
    [show]="editProfile"
    [closeCallback]="toggleModal"
    [modalWidth]=700>
    <div class="modalContent">
      <p>Profile Picture</p>
      <img class="editprofilepic" [src]="channelUserInfo.profilepic" alt="">
      <div class="" style="flex-direction: row;">
        <input type="file" name="" value="" (change)="getProfilePic($event.target.files)">
        <button type="button" name="button" (click)="updatePicture()">Update</button>
      </div>
      <p>Channel Art</p>
      <img class="editchannelart" [src]="channelUserInfo.channelart" alt="">
      <div class="" style="flex-direction: row;">
        <input type="file" name="" value="" (change)="getChannelArt($event.target.files)">
        <button type="button" name="button" (click)="updateArt()">Update</button>
      </div>
    </div>
</app-modal>
