<div class="content">
  <div class="playlistContainer" *ngIf="currentPlaylist && playlistOwner && videos">
    <div class="playlistOverview" *ngIf="currentPlaylist">
      <img [src]="videos[0].thumbnail" alt="">
      <h1>{{currentPlaylist.title}}</h1>
      <p>{{getLen(videos)}} videos - {{getViewCount(currentPlaylist.view)}} views - last updated on {{currentPlaylist.day}} {{getMonthName(currentPlaylist.month)}} {{currentPlaylist.year}}</p>
      <p>{{currentPlaylist.visibility}}</p>
      <p>{{currentPlaylist.desc}}</p>
      <div class="channelInfo">
        <div class="" style="flex-direction: row;">
          <a href="channel/{{playlistOwner.id}}/home"><img [src]="playlistOwner.profilepic" class="channelPic" alt="">
          <p>{{playlistOwner.name}}</p></a>
        </div>
        <div class="subButton" *ngIf="curUserId != playlistOwner.id" [style.background-color]="isSubscribed ? 'lightgray' : '#d70000'" [style.color]="isSubscribed? 'gray' : 'white'" (click)="toggleSubs()">
          {{isSubscribed ? 'SUBSCRIBED' : 'SUBSCRIBE'}}
        </div>
      </div>
    </div>
    <div class="playlistVideos">
      <div class="videoItem" *ngFor="let video of videos">
        <app-video-block [typeView]=2 [video]="video"></app-video-block>
      </div>
    </div>
  </div>

</div>
