*{
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-size: 14pt;
}
.content {
  padding: 20px 60px;
  width: 100vw;
  flex-direction: column;

  min-height: 100vh;



  hr {
    display: block;
    background-color: lightgray;
    border: none;
    height: 1px;
    color: lightgray;
    margin: 20px 0;
  }

  .vidsection {
    flex-direction: column;
    min-height: 220px;
    // height: 100%;
    .vidScroll {
      min-height: 220px;
      overflow-x: auto;
      .viewAll {
        min-height: 220px;
        width: 70px;
        justify-content: center;
        align-items: center;


        .viewAllBtn {
          background-color: lightgray;
          border-radius: 50px;
          width: 55px;
          height: 55px;
          justify-content: center;
          align-items: center;
          // box-shadow: 4px 4px 4px gray;
          color: white;
        }
      }
    }
    // background-color: white;
  }

    .vidContainer {
      overflow-x: auto;
      .vidItems {
        flex-direction: column;
        margin: 10px;
        font-size: 10pt;

        p {
          margin: 0;
        }

        .vid {
          width: 260px;
          margin-bottom: 10px;
          // height: px;
        }
      }
    }
  }
