<div class="contentWrapper">
  <h1>Terms of Service</h1>
      <h2>Welcome to FesTube!</h2>

      <h3>Introduction</h3>
      <p>Thank you for using the FesTube platform and the products, services and features we make available to you as part of the platform (collectively, the “Service”).</p>

      <h3>Our Service</h3>

      <p>The Service allows you to discover, watch and share videos and other content, provides a forum for people to connect, inform, and inspire others across the globe, and acts as a distribution platform for original content creators and advertisers large and small. We provide lots of information about our products and how to use them in our Help Center. Among other things, you can find out about FesTube Kids, the FesTube Partner Program and FesTube Paid Memberships and Purchases (where available).You can also read all about enjoying content on other devices like your television, your games console, or Google Home.</p>

      <h3>Your Service Provider</h3>

      <p>The entity providing the Service is Google LLC, a company operating under the laws of Delaware, located at 1600 Amphitheatre Parkway, Mountain View, CA 94043 (referred to as “FesTube”, “we”, “us”, or “our”). References to FesTube’s “Affiliates” in these terms means the other companies within the Alphabet Inc. corporate group (now or in the future).</p>

      <h3>Applicable Terms</h3>
      <p>Your use of the Service is subject to these terms, the FesTube Community Guidelines and the Policy, Safety and Copyright Policies which may be updated from time to time (together, this "Agreement"). Your Agreement with us will also include the Advertising on FesTube Policies if you provide advertising or sponsorships to the Service or incorporate paid promotions in your content. Any other links or references provided in these terms are for informational use only and are not part of the Agreement.</p>

      <p>Please read this Agreement carefully and make sure you understand it. If you do not understand the Agreement, or do not accept any part of it, then you may not use the Service.</p>

      <h2>Who may use the Service?</h2>
      <h3>Age Requirements</h3>
      <p>You must be at least 13 years old to use the Service. However, children of all ages may use FesTube Kids (where available) if enabled by a parent or legal guardian.</p>

      <h3>Permission by Parent or Guardian</h3>

      <p>If you are considered a minor in your country, you represent that you have your parent or guardian’s permission to use the Service. Please have them read this Agreement with you.</p>

      <p>If you are a parent or legal guardian of a minor in your country, by allowing your child to use the Service, you are subject to the terms of this Agreement and responsible for your child’s activity on the Service. You can find tools and resources to help you manage your family’s experience on FesTube in our Help Center and through Google’s Family Link.</p>

      <h3>Businesses</h3>
      <p>If you are using the Service on behalf of a company or organisation, you represent that you have authority to act on behalf of that entity, and that such entity accepts this Agreement.</p>

      <h2>Your Use of the Service</h2>
      <h3>Content on the Service</h3>
      <p>The content on the Service includes videos, audio (for example music and other sounds), graphics, photos, text (such as comments and scripts), branding (including trade names, trademarks, service marks, or logos), interactive features, software, metrics, and other materials whether provided by you, FesTube or a third-party (collectively, "Content”).</p>

      <p>Content is the responsibility of the person or entity that provides it to the Service. FesTube is under no obligation to host or serve Content. If you see any Content you believe does not comply with this Agreement, including by violating the Community Guidelines or the law, you can report it to us.</p>

      <h3>Google Accounts and FesTube Channels</h3>
      <p>You can use parts of the Service, such as browsing and searching for Content, without having a Google account. However, you do need a Google account to use some features. With a Google account, you may be able to like videos, subscribe to channels, create your own FesTube channel, and more. You can follow these instructions to create a Google account.</p>

      <p>  Creating a FesTube channel will give you access to additional features and functions, such as uploading videos, making comments or creating playlists (where available). Here are some details about how to create your own FesTube channel.</p>

      <p>To protect your Google account, keep your password confidential. You should not reuse your Google account password on third-party applications. Learn more about keeping your Google account secure, including what to do if you learn of any unauthorised use of your password or Google account.</p>

      <h3>Your Information</h3>
      <p>Our Privacy Policy explains how we treat your personal data and protect your privacy when you use the Service. The FesTube Kids Privacy Notice provides additional information about our privacy practices that are specific to FesTube Kids.</p>

      <h3>Permissions and Restrictions</h3>
      <p>You may access and use the Service as made available to you, as long as you comply with this Agreement and applicable law. You may view or listen to Content for your personal, non-commercial use. You may also show FesTube videos through the embeddable FesTube player.</p>

      <h3>Reservation</h3>

      <p>Using the Service does not give you ownership of or rights to any aspect of the Service, including user names or any other Content posted by others or FesTube.</p>

      <h3>Changes to the Service</h3>

      <p>FesTube is constantly changing and improving the Service. We may also need to alter or discontinue the Service, or any part of it, in order to make performance or security improvements, change functionality and features, make changes to comply with law, or prevent illegal activities on or abuse of our systems. These changes may affect all users, some users or even an individual user.  Whenever reasonably possible, we will provide notice when we discontinue or make material changes to our Service that will have an adverse impact on the use of our Service. However, you understand and agree that there will be times when we make such changes without notice, such as where we feel we need to take action to improve the security and operability of our Service, prevent abuse, or comply with legal requirements.</p>

      <h2>Your Content and Conduct</h2>
      <h3>Uploading Content</h3>

      <p>If you have a FesTube channel, you may be able to upload Content to the Service. You may use your Content to promote your business or artistic enterprise. If you choose to upload Content, you must not submit to the Service any Content that does not comply with this Agreement (including the FesTube Community Guidelines) or the law. For example, the Content you submit must not include third-party intellectual property (such as copyrighted material) unless you have permission from that party or are otherwise legally entitled to do so. You are legally responsible for the Content you submit to the Service. We may use automated systems that analyze your Content to help detect infringement and abuse, such as spam, malware, and illegal content.</p>

      <h3>Rights you Grant</h3>

      <p>You retain ownership rights in your Content. However, we do require you to grant certain rights to FesTube and other users of the Service, as described below.</p>

      <h3>License to FesTube</h3>

      <p>By providing Content to the Service, you grant to FesTube a worldwide, non-exclusive, royalty-free, sublicensable and transferable license to use that Content (including to reproduce, distribute, prepare derivative works, display and perform it) in connection with the Service and FesTube’s (and its successors’ and Affiliates’) business, including for the purpose of promoting and redistributing part or all of the Service.</p>

      <h3>License to Other Users</h3>

      <p>You also grant each other user of the Service a worldwide, non-exclusive, royalty-free license to access your Content through the Service, and to use that Content, including to reproduce, distribute, prepare derivative works, display, and perform it, only as enabled by a feature of the Service (such as video playback or embeds). For clarity, this license does not grant any rights or permissions for a user to make use of your Content independent of the Service.</p>

      <h3>Duration of License</h3>

      <p>The licenses granted by you continue for a commercially reasonable period of time after you remove or delete your Content from the Service. You understand and agree, however, that FesTube may retain, but not display, distribute, or perform, server copies of your videos that have been removed or deleted.</p>

      <h3>Removing Your Content</h3>

      <p>You may remove your Content from the Service at any time. You also have the option to make a copy of your Content before removing it. You must remove your Content if you no longer have the rights required by these terms.</p>

      <h3>Removal of Content By FesTube</h3>

      <p>If we reasonably believe that any Content is in breach of this Agreement or may cause harm to FesTube, our users, or third parties, we may remove or take down that Content in our discretion. We will notify you with the reason for our action unless we reasonably believe that to do so: (a) would breach the law or the direction of a legal enforcement authority or would otherwise risk legal liability for FesTube or our Affiliates; (b) would compromise an investigation or the integrity or operation of the Service; or (c) would cause harm to any user, other third party, FesTube or our Affiliates. You can learn more about reporting and enforcement, including how to appeal on the Troubleshooting page of our Help Center.</p>

      <h3>Copyright Protection</h3>

      <p>We provide information to help copyright holders manage their intellectual property online in our FesTube Copyright Center. If you believe your copyright has been infringed on the Service, please send us a notice.</p>

      <p>We respond to notices of alleged copyright infringement according to the process in our FesTube Copyright Center, where you can also find information about how to resolve a copyright strike. FesTube's policies provide for the termination, in appropriate circumstances, of repeat infringers’ access to the Service.</p>

      <h2>Account Suspension & Termination</h2>
      <h3>Terminations by You</h3>
      <p>You may stop using the Service at any time. Follow these instructions to delete the Service from your Google Account, which involves closing your FesTube channel and removing your data. You also have the option to download a copy of your data first.</p>

      <h3>Terminations and Suspensions by FesTube for Cause</h3>

      <p>FesTube may suspend or terminate your access, your Google account, or your Google account’s access to all or part of the Service if (a) you materially or repeatedly breach this Agreement; (b) we are required to do so to comply with a legal requirement or a court order; or (c) we believe there has been conduct that creates (or could create) liability or harm to any user, other third party, FesTube or our Affiliates.</p>

      <h3>Terminations by FesTube for Service Changes</h3>

      <p>FesTube may terminate your access, or your Google account’s access to all or part of the Service if FesTube believes, in its sole discretion, that provision of the Service to you is no longer commercially viable.</p>

      <h3>Notice for Termination or Suspension</h3>

      <p>When the Service requires or includes downloadable software (such as the FesTube Studio application), you give permission for that software to update automatically on your device once a new version or feature is available, subject to your device settings. Unless that software is governed by additional terms which provide a license, FesTube gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by FesTube as part of the Service. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Service as provided by FesTube, in the manner permitted by this Agreement. You are not allowed to copy, modify, distribute, sell, or lease any part of the software, or to reverse-engineer or attempt to extract the source code of that software, unless laws prohibit these restrictions or you have FesTube’s written permission.</p>

      <h3>Effect of Account Suspension or Termination</h3>

      <p>When the Service requires or includes downloadable software (such as the FesTube Studio application), you give permission for that software to update automatically on your device once a new version or feature is available, subject to your device settings. Unless that software is governed by additional terms which provide a license, FesTube gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by FesTube as part of the Service. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Service as provided by FesTube, in the manner permitted by this Agreement. You are not allowed to copy, modify, distribute, sell, or lease any part of the software, or to reverse-engineer or attempt to extract the source code of that software, unless laws prohibit these restrictions or you have FesTube’s written permission.</p>

      <h2>About Software in the Service</h2>
      <h3>Downloadable Software</h3>
      <p>When the Service requires or includes downloadable software (such as the FesTube Studio application), you give permission for that software to update automatically on your device once a new version or feature is available, subject to your device settings. Unless that software is governed by additional terms which provide a license, FesTube gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by FesTube as part of the Service. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Service as provided by FesTube, in the manner permitted by this Agreement. You are not allowed to copy, modify, distribute, sell, or lease any part of the software, or to reverse-engineer or attempt to extract the source code of that software, unless laws prohibit these restrictions or you have FesTube’s written permission.</p>

      <h3>Open Source</h3>
      <p>Some software used in our Service may be offered under an open source license that we make available to you. There may be provisions in an open source license that expressly override some of these terms, so please be sure to read those licenses.</p>

      <h2>Other Legal Terms</h2>

      <h3>Indemnity</h3>

      <p>The Service may contain links to third-party websites and online services that are not owned or controlled by FesTube. FesTube has no control over, and assumes no responsibility for, such websites and online services. Be aware when you leave the Service; we suggest you read the terms and privacy policy of each third-party website and online service that you visit.</p>

      <h3>Third-Party Links</h3>
      <p>The Service may contain links to third-party websites and online services that are not owned or controlled by FesTube. FesTube has no control over, and assumes no responsibility for, such websites and online services. Be aware when you leave the Service; we suggest you read the terms and privacy policy of each third-party website and online service that you visit.</p>

      <h2>About this Agreement</h2>
      <h3>Modifying this Agreement</h3>
      <p>We may modify this Agreement, for example, to reflect changes to our Service or for legal, regulatory, or security reasons. FesTube will provide reasonable advance notice of any material modifications to this Agreement and the opportunity to review them except that, where legally permitted, modifications addressing newly available features of the Service or modifications made for legal reasons may be effective immediately without notice. Modifications to this Agreement will only apply going forward. If you do not agree to the modified terms, you should remove any Content you have uploaded and discontinue your use of the Service.</p>

      <h3>Continuation of this Agreement</h3>
      <p>In these terms, “include” or “including” means “including but not limited to,” and any examples we give are for illustrative purposes.</p>

      <h3>Governing Law</h3>
      <p>All claims arising out of or relating to these terms or the Service will be governed by California law, except California’s conflict of laws rules, and will be litigated exclusively in the federal or state courts of Santa Clara County, California, USA. You and FesTube consent to personal jurisdiction in those courts.</p>
</div>
