<div class="content">
  <div class="vidsection">
    <div class="" style="margin: 10px 0; flex-direction: row; justify-content: space-between; align-items: center;">
      <p>Videos</p>
      <button type="button" (click)="toggleSort()" name="button" style="border: none; color:gray; align-items: center" (click)="toggleSort()"><i class="fa fa-filter" style="font-size: 7pt; margin-right: 5px;"></i>{{sortLabel}}</button>
    </div>
    <div class="vidScroll">
      <div class="auto-grid">
        <div class="" *ngFor="let video of videos; let i = index">
          <!-- {{video.title}} -->
          <app-video-block  *ngIf="i < lastKey" [video]="video" [typeView]=1></app-video-block>
        </div>
      </div>
      <div class="footer">

      </div>
  </div>
