<!-- <p>channel-about works!</p> -->

<div class="content" *ngIf="channelUserInfo">
  <div class="header">
    <p>About</p>
    <button type="button" name="button" *ngIf="self" (click)="toggleEditAbout()"><i class="fa fa-pen" ></i></button>
  </div>
  <div class="chnabout">
    <p class="aboutDesc" *ngIf="!editModeAbout">{{channelUserInfo.about}}</p>
    <div class="aboutEdit" *ngIf="editModeAbout">
      <textarea class="editAboutInput" name="name" [value]="channelUserInfo.about" (input)="editedAbout = $event.target.value"></textarea>
      <button class="editAboutBtn" type="button" name="button" (click)="submitEditAboutBtn(channelUserInfo.id, editedAbout)"><i class="fa fa-check-circle"></i></button>
    </div>
  </div>
  <hr>
  <p>Stats</p>
  <div class="chnstats">
    <p>Joined {{getMonthName(channelUserInfo.month)}} {{channelUserInfo.day}}, {{channelUserInfo.year}}</p>
    <p>{{totalviews}} views</p>
  </div>
  <hr>
  <div class="header">
    <p>Links</p>
    <button type="button" name="button" (click)="toggleAddLink()"><i class="fa fa-plus" *ngIf="self" ></i></button>
    <button type="button" name="button" *ngIf="!editModeLinks && self" (click)="toggleEditLinks()"><i class="fa fa-pen"></i></button>
    <button type="button" name="button" *ngIf="editModeLinks" (click)="updateLinks()"><i class="fa fa-check-circle"></i></button>
  </div>
  <div class="linkList" *ngFor="let link of links; let i = index">
    <a style="width: auto;" *ngIf="!editModeLinks" [href]="link.url">{{link.label}}</a>
    <div class="editLink" *ngIf="editModeLinks">
      <input style="margin-left: 0" class="labelinput" type="text" name="" [value]="link.label" (input)="linklabel[i] = $event.target.value"> :
      <input class="urlinput" type="text" name="" [value]="link.url" (input)="linkurl[i] = $event.target.value">
      <button class="linkbtn" type="button" name="button" (click)="deleteLink(link.id)"><i class="fa fa-trash-alt"></i></button>
    </div>
  </div>
  <div class="newLink" *ngIf="addModeLink">
    <input style="margin-left: 0" class="labelinput" type="text" name="" value="" (input)="newlinklabel = $event.target.value"> :
    <input class="urlinput" type="text" name="" value="" (input)="newlinkurl = $event.target.value">
    <button class="linkbtn" type="button" name="button" (click)="addNewLink()"><i class="fa fa-check-circle"></i></button>
    <button class="linkbtn" type="button" name="button" (click)="toggleAddLink()"><i class="fa fa-times-circle"></i></button>
  </div>
</div>
