*{
  display: flex;
  margin: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 50px;
  padding: 20px;
  margin-left: 20vw;
  width: 55vw;
  .searchResults {
    width: 100%;
    flex-direction: column;
    .sectionResult {
      width: 100%;
      flex-direction: column;
    }
  }
}
