<div class="content">
  <div class="searchResults">
    <div class="sectionResult">
      <app-channel-block [channel]="channel" *ngFor="let channel of channels"></app-channel-block>
    </div>
    <div class="sectionResult">
      <app-playlist-block [playlist]="playlist" [typeView]=2 style="margin: 17px 0" *ngFor="let playlist of playlists"></app-playlist-block>
    </div>
    <div class="sectionResult">
      <app-video-block [video]="video" *ngFor="let video of videos"></app-video-block>
    </div>
  </div>
</div>
