<div class="homeComponentWrapper" class="auto-grid">
  <div *ngFor="let video of videos">

    <!-- <div class="" style="width: 300px; margin: 30px; background-color:black;"> -->
      <div class="">
        <mat-video style="height: 20%" quality="false" title="My Tutorial Title" loop="false" [autoplay]="false" [preload]="false" [fullscreen]="true" [download]="false" color="accent" spinner="spin" [poster]="video.thumbnail" [src]="video.url" >
        </mat-video>

      </div>
      <div class="thumbnailInfo">
        <div class="">

        </div>
        <div class="">
          <p>{{ video.title }}</p>
          <p>channel</p>
        </div>
      </div>
    <!-- </div> -->
  </div>

</div>
